FORGOT_MAIL_URL=

## AWS CREDENTIALS ACCESS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_REGION=
##Image bucket base URL
AWS_BUCKET_URL=

## API URL
APP_API_URL=

## Storage
DISK=local

## Email
MAIL_PROVIDER=ethereal

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

##Sentry
SENTRY_DSN=https://0dbe2753b4c54acabb7a703849e7a637@o813835.ingest.sentry.io/5806238