<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="Rentx">
  <span>Oi, {{name}}</span>
  <br />
  <span>Você solicitou alteração de senha,</span>
  <span>Para realizar a troca, clique no link abaixo:</span> <br />
  <a href={{link}}>Resetar minha senha</a>

  <span>Caso nao tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail</span>

  <strong>Obrigado</strong>

  <h3>Equipe | <strong>Renx</strong></h3>
</div>

<style>
  .container {
    width: 800px;
    font-family: arial, Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>